[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/smigle-hugo-theme"]
	path = themes/smigle-hugo-theme
	url = https://gitlab.com/ian-s-mcb/smigle-hugo-theme
[submodule "themes/themes/PaperMod"]
	path = themes/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
